<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Orders</title>
</head>
<body>
    

    <form action="/" method="get">
        <input type="submit" value="Back">
    </form>



<table border = "1">

    <% for (order of orders) { %>

        <tr>
            <td colspan="7" >
                <%= order.customerName %>
            </td>
        </tr>

        <tr>
            <td colspan="7" >
                <%= order.customerAddr %>
            </td>
        </tr>

        <tr>
            <td>Name</td>
            <td>Unit Price</td>
            <td>Retail Price</td>
            <td>Profit</td>
            <td>Quantity</td>
            <td>Subtotal</td>
            <td>Sales Tax</td>
        </tr>
        <tr>
            
            <% for (item of order.items) { %>
                <tr>
                <td><%= item.name %></td>
                <td><%= item.unitprice %></td>
                <td><%= item.retailprice %></td>
                <td><%= item.profit %></td>
                <td><%= item.qty %></td>
                <td><%= item.subtotal %></td>
                <td><%= item.salestax %></td>
                </tr>
            <% } %>
            <td>Shipping</td>
            <td>Profit</td>
            <td>Subtotal</td>
            <td>Sales Tax</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            
                <td><%= order.shipping %></td>
                <td><%= order.profit %></td>
                <td><%= order.subtotal %></td>
                <td><%= order.salestax %></td>
                <td colspan="3"><%= order.total%></td>
        </tr>
    <% } %>

</table>
<% let units = 0; let profit = 0; %>
<% for (let order of orders) { %>
    <% units += order.items.length; profit += order.profit; %>
<% } %>
Units sold: <%= units %>, Total Profit: <%= profit %>












</body>
</html>